{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <style>
li{
align:center;
}
      a{
      text-decoration:none;
      }

    body{
    background-color:lightgrey;
    }
      h1{
      color: maroon;
      }
      h2{
      font-size: xx-large;
      }
    </style>
</head>
<body><center>
  <div>
<h1 >UIUIU BANK</h1>
</div>
  <div>
<nav>
  <fieldset>
    <h3> <a href="{% url 'withdraw' %}">Withdraw</a>  &emsp; &emsp; &emsp; &emsp;
      <a href="{% url 'deposit' %}">Deposit</a> &emsp; &emsp; &emsp; &emsp;
        <a href="{% url 'loan' %}">Loan</a> &emsp; &emsp; &emsp; &emsp;
        <a href="{% url 'loaninfo' %}">Loans Info</a> &emsp; &emsp; &emsp; &emsp;
            <a href="{% url 'custloan' %}">Customer Loans</a> &emsp; &emsp; &emsp; &emsp;

    <a href="{% url 'mini' %}">MiniStatement</a> &emsp; &emsp; &emsp; &emsp;
      <a style="align:left;" href="{% url 'home'%}">LogOut</a>
    </h3>
    </fieldset>
  </nav>
    </div>
  <div>

  <h2 style="padding:1%;">Deposit </h2>
  <form method="post" action="{% url 'deposit' %}">
    {% csrf_token %}
    <h2 style="color:blue;">{{ msg }}</h2>
    <h2 style="color:red;">{{ error }}</h2>
    <table cellspacing="8" cellpadding="2">
      <tr>
        <th>Customer ID</th>
        <th>:</th>
        <td><input type="text" name="cid" required></td>
      </tr>
      <tr>
        <th>Date</th>
        <th>:</th>
        <td><input type="date" name="date" required></td>
      </tr>
      <tr>
        <th>Transaction Type</th>
        <th>:</th>
        <td><input type="text" name="ttype" required></td>
      </tr>
      <tr>
        <th>Amount</th>
        <th>:</th>
        <td><input type="text" name="amt" required></td>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <td><input type="submit" value="Deposit"></td>
      </tr>
    </table>
  </form>
</div>
    </center>

</body>
</html>